body {
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filled {
    border: 1px solid #999;
    border-radius: 0;
}

.square {
    background-color: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    min-height: 34px;
    min-width: 34px;
    height: 18vmin;
    width: 18vmin;
    padding: 0;
    cursor: pointer;
}

#collapse:hover+.filled,
.menu.hvr>.pin-menu:hover+.filled,
:not(.menu)>.filled:hover,
.menu.hvr>.filled:hover,
.square:hover {
    border: 2px solid #000;
}

.game-info {
    text-align: center;
    color: #fff;
    height: 300px;
    width: 210px;
}

.status {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.status span:not([lang-tag]) {
    display: inline-block;
    width: 1em;
}

.game-info button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 5px 0;
    color: inherit;
}

.game-info button:hover {
    font-weight: 700;
}

.game-info button:disabled {
    pointer-events: none;
    opacity: .5;
}